---
import FormattedDate from '../components/FormattedDate.astro';
import { AUTHOR, HOST } from '../consts';
const { title, published, modified } = Astro.props;
---

<header>
  <h1>{title}</h1>
  <div class="meta">
    Published by <a href={HOST} rel="author">${AUTHOR}</a> on
    <FormattedDate date={published} format="long" />
    {
      modified ? (
        <>
          (last update: <FormattedDate date={modified} format="long" />)
        </>
      ) : null
    }
  </div>
</header>
