---
import FormattedDate from '../components/FormattedDate.astro';
import { AUTHOR } from '../consts';
const baseUrl = Astro.site?.origin ?? 'https://webpro.nl';
const { title, published, modified } = Astro.props;
---

<header>
  <h1>{title}</h1>
  <div class="meta">
    Published by <a href={baseUrl} rel="author">{AUTHOR}</a> on
    <FormattedDate date={published} format="long" />
    {
      modified ? (
        <>
          (last update: <FormattedDate date={modified} format="long" />)
        </>
      ) : null
    }
  </div>
</header>
