---
const { href, title, sprite, description, rel } = Astro.props;
---

<a href={href} title={title} rel={rel}>
  <svg>
    <use href={`/img/sprites.svg#${sprite}`}></use>
  </svg>
  {description && <span>{description}</span>}
</a>
